* {
  padding: 0;
  margin: 64px;
  margin-top: 16px;
}


h1 {
  margin-top: 32px;
  padding: 0;
}

/* a  {
  text-decoration: none;
} */

a:hover {
  background: #000;
}

a.social {
  margin: 0;
  padding: 0;
}